#calendar-container {
    height: 590px;
    width: 750px;
    margin: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  
  header {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 0.5em;
  }
  
  header button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  
  .calendar {
    width: 100%;
    height: 80%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .calendar td {
    border: 1px solid #ddd;
    padding: 20px; 
    vertical-align: top; 
    text-align: left;  
    cursor: pointer;
    font-size: 1.0em; 
  }
  
  .calendar td.dayOfWeek {
    height: 0px;
  }
  
  .calendar td:hover {
    background-color: #f0f0f0;
  }
  .event {
    background-color: #f7d7d2; 
    color: #000000; 
    margin-top: 2px;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
  }
  