.background-witch-cottage {
  background-image: url('../assets/witch cottage.png');
}

.background-sunny-greenhouse {
  background-image: url('../assets/sunny greenhouse.png');
}

.background-mermaid-study {
  background-image: url('../assets/mermaid study.png');
}

.background-autumn-dream {
  background-image: url('../assets/autumn dream.png');
}

.background-magic-dorm {
  background-image: url('../assets/magic dorm.png');
}


.home-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .home-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 5; 
}

.permanent-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 7; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.permanent-button {
  background-color: rgba(228, 216, 216, 0.781); 
  color: white; 
  border: none;
  margin-top: 20px;
  padding: 20px 30px; 
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.8s ease; 
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.Logo {
  width: 250px; 
  height: auto; 
}


.permanent-button:hover {
  background: rgba(255, 255, 255, 0.3); 
}

.overlay-content {
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; 
  height: 65%;
  z-index: 8;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.842); 
}


.close-button {
  position: absolute;
  top: -10px; /* Adjust the value as needed */
  right: 20px; /* Adjust the value as needed */
  background: transparent;
  border: none;
  font-size: 50px;
  color: white; /* You can change the color as needed */
  cursor: pointer;
  z-index: 10; /* Ensure it is above other content */
}

.close-button:hover {
  color: #eee9e9; /* Lighter shade when hovered for a nice effect */
}