.task-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1; 
    max-width: calc(100% - 110px); 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.task-details h3 {
    font-size: 1.2rem;
    color: #333;
    text-align: left;
    margin: 0 0 5px 0; 
}

.task-details p {
    font-size: 0.9rem;
    color: #666;
    text-align: left;
    margin: 0;
}

.task-actions {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    align-items: center; 
    margin-left: 15px;
}

.task-item button {
    min-width: 40px;
    min-height: 30px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px; 
    color: white;
}


.task-item button.complete {
    font-family: 'Varela Round', sans-serif;
    background-color: #b4ceb4;
}

.task-item button.complete:hover {
    background-color: #a0d0a0; 
}

.task-item button.delete {
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(236, 181, 176);
}

.task-item button.delete:hover {
    background-color: #db7b74; 
}

.task-item.selected {
    background-color: #f0f0f0;
    border-left: 4px solid #007bff; 
  }