.themes-main-container {
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  .themes-container {

    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
    height: 75%;
    margin: auto;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  .themes-container h1 {
    text-align: center;
    color: #333;
  }
  
  .themes-container ul {
    list-style: none;
    padding: 0;
  }
  
  .themes-container li {
    margin-bottom: 8px;
  }
  
  .theme-button {
    width: 100%;
    height: 170px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .image-inside-button {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
  }
  
  .theme-button:hover {
    border-color: #888;
  }
